<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <title>LOGO</title>
  <style>
    body{
    background-image: url('http://ecarmart.co.kr/Admin/Board/userfile/604aec241c5b5.jpg');
    background-size : 1350px;
    background-repeat : no-repeat;
  }
  </style>

</head>
    <body class="indexbd">
        <a href="/"><img src="images/parkinglogo.png" width="300" height="300"></a>
    }
      <input type="checkbox" id="menuicon">
      <label for="menuicon">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <% if(!is_logined){ %>
      <div class="sidebar">
          <div class="menubar">
          <br>
          <br>
          <br>
          <br>
          <span style="color:rgb(192, 135, 30)">→</span>
          <span><a href="/signin">로그인</a></span>
          <span style="color:rgb(192, 135, 30)">→</span>
          <span><a href="/signup">회원가입</a></span>
          <br>
          <br>
          <h2><a href="/nearbyparkinglot">1. 내 주변 주차장</a></h2>
          <br>
          <h2><a href="/destination">2. 목적지 주변 주차장</a></h2>
          <br>
        </div>
      </div>
      <% }else{ %>
      <div class="sidebar">
        <div class="menubar">
          <br>
          <br>
          <br>
          <li><%= name %> 님 환영합니다!</li>
            <br>
            <span style="color:rgb(192, 135, 30)">→</span>
            <span><a href="/mypage"><img src="images/mypageicon.png" width="100" height="100"></a></span>

            <span style="color:rgb(192, 135, 30)">→</span>
            <span><a href="/logout">로그아웃</a></span>
            <br>
            <br>
            <h2><a href="/nearbyparkinglot">1. 내 주변 주차장</a></h2>
            <br>
            <h2><a href="/destination">2. 목적지 주변 주차장</a></h2>
            <br>
            <h2><a href="/ownpark">3. 나만의 주차장</a></h2>
            <br>
            <h2><a href="/favorite">4. 즐겨찾기</a></h2>
          </div>
        </div>
      <% } %>
</body>
</html>
