<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/mypage.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body class="mypagebd">
    <a href="/"><img src="images/parkinglogo.png" width="300" height="300"></a>
    <form action="/mypage/userup" method="post">
    <div class="form-box">
      <h1>My Page</h1>
      <div class="input-box">
          <input type="text" placeholder="Name" name='name'>
      </div>
      <div class="input-box">
          <input type="Password" name='pw' placeholder="Password">
      </div>
  </div>
  <button type="submit" class="change-btn">수정</button>
  </form>
</body>
</html>
