<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'><link rel="stylesheet" href="stylesheets/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stylish&display=swap" rel="stylesheet">
</head>
<body class="loginbackground">
		<a href="/"><img src="images/parkinglogo.png" width="300" height="300"></a>
<div class="center">
	<h1>Login</h1>
	<form method="post">
		<div class="txt_field">
			<input type="text" name="id" required>
			<span></span>
			<label>ID</label>
		</div>
		<div class="txt_field">
			<input type="password" name='pw' required>
			<span></span>
			<label>Password</label>
		</div>
		<input type="submit" value="Login">
		<div class="signup_link">
			아직 회원이 아니신가요?<a href="/signup"> 가입하기</a>
		</div>
	</form>
</div>
</body>
</html>
