.tablebtn {
    font-size: 15px;
    padding: 5px 5px;
    background-color: gray;
    color: white;
    border: 3px solid gray;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: sans-serif;
    transition: all 0.4s;
}

.tablebtn:focus {
    outline: none;
}

.tablebtn:hover {
    background-color: orange;
    border: 3px solid orange;
    color: white;
}
